$color: #006;

h1 {
    padding: 18x;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px 18px 18px 18px;

    font-family: 'Baloo 2', cursive;
    font-style: bold;
    letter-spacing: 3px;
    
    color: lightblue;
    background-color: darkblue;
    
    border: 10px solid $color;
    border-radius: 20px;

}


